*, *::after, *::before {
  box-sizing: border-box;
}

/* ................CONTAINER TO HOLD BLOCK CONTENT............................*/
.container {
  display: -ms-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

/* ............... BLOCK TO HOLD COMPONENTS...................................*/

/* ...............standard block..............................................*/
.block {
  -ms-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-basis: 15em;
  flex-basis: 15em;
  padding: 0.5em;
}

/* ...............block with heavier weight...................................*/
.block2 {
  -ms-flex-grow: 2;
  flex-grow: 2;
  -ms-flex-basis: 15em;
  flex-basis: 15em;
  padding: 0.5em;
}
