@import url('https://fonts.googleapis.com/css?family=Lato');

@import url('https://fonts.googleapis.com/css?family=Muli');

/* .............................TYPOGRAPHY STYLING...............*/
body {
  background-color: #FFFFEE;
  padding: 0 5em;
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
}

p, label, a, li {
  font-family: 'Muli', sans-serif;
}

ol, ul {
  text-align: left;
}

label {
  font-style: italic;
}

.style-guide-content {
  text-align: center;
}

.column {
  padding: 3em;
  color: #FFF;
  text-align: center;
}

.page-title {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  color: #B30000;
  letter-spacing: 5px;
}

.page-section-title {
  font-size: 2em;
  letter-spacing: 5px;
  color: #B30000;
}

.section-divider {
  border-bottom: solid 3px #006622;
}

.section-divider h2 {
  text-align: center;
}

.page-subsection-title {
  font-size: 1.5em;
  letter-spacing: 2px;
}

.page-label-heading {
  font-size: 1em;
  letter-spacing: 1px;
}

/* .............................INTERACTIVE ELEMENT STYLING...............*/

.hyperlink {
  text-decoration: none;
  color: #B30000;
}

.hyperlink:hover, .hyperlink:focus {
  color: #FF3333;
  text-decoration: underline;

}

.button {
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  border-radius: 0.2em;
  color: #FFF;
  background-color: #006622;
  padding: 0.75em 2.5em;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.button:hover, .button:focus {
  background-color: #00CC44;
}
/* .............................COMPONENT STYLING...............*/

.main-nav {
  /*margin: 1em 10em;*/
  padding: 2em;
}

.main-nav-item {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #009933;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.main-nav-item:hover, .main-nav-item:focus {
  color: #FFFF4D;
}

/*.portfolio-feature-image img {
  padding: 5em;
}*/

.portfolio-piece {
  margin: 0 10em;
}


/* .............................COLOUR PALETTE STYLING...............*/

#red1 {
  background-color: #FF3333;
}

#red2 {
  background-color: #E60000;
}

#red3 {
  background-color: #B30000;
}

#yellow1 {
  background-color: #FFFFB3;
  color: #000;
}

#yellow2 {
  background-color: #FFFF80;
  color: #000;
}

#yellow3 {
  background-color: #FFFF4D;
  color: #000;
}

#green1 {
  background-color: #00CC44;
}

#green2 {
  background-color: #009933;
}

#green3 {
  background-color: #006622;
}

/* .............................GRID STRUCTURE STYLING...............*/

.col1 {
  background-color: #000;
}

.col2 {
  background-color: #111;
}

.col3 {
  background-color: #222;
}

.col4 {
  background-color: #333;
}

.col5 {
  background-color: #444;
}
