/* ............................IMPORTED FONTS....................*/
@import url('https://fonts.googleapis.com/css?family=Lato');

@import url('https://fonts.googleapis.com/css?family=Muli');

/* .............................TYPOGRAPHY STYLING...............*/
body {
  background-color: rgba(175, 175, 175, 0.5);
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
}

p, label, a, li {
  font-family: 'Muli', sans-serif;
  font-size: 0.8em;
}

p {
  line-height: 200%;
  text-align: justify;
}

ol, ul {
  text-align: left;
}

.project-list {
  padding-left: 1.2em;
}

label {
  font-style: italic;
}

li {
  line-height: 200%;
}

.main-body {
  padding: 3.5em 0.5em;
}

.style-guide-content {
  text-align: center;
}

.column {
  padding: 3em;
  color: #FFF;
  text-align: center;
}

.page-title {
  margin-top: 0;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #B30000;
  letter-spacing: 5px;
}

.main-page-title {
  color: #FFFFFF;
  letter-spacing: 7.5px;
  /*background-color: #000;*/
  /*width: 100%;*/
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 10%;
   /*left: 50%;
  transform:(-50%, -50%);*/
  /*left: 30em;*/
}

.subtitle {
  top: 50%
}

#landing-page-title {
  /*padding-top: 9em;
  margin-left: 40%;*/
  /*width: 100%;*/
  /*position: relative;
  top: 1em;*/
}

.page-section-title {
  text-transform: uppercase;
  margin-top: 0;
  font-size: 2em;
  letter-spacing: 5px;
  color: #B30000;
}

.section-divider {
  border-bottom: solid 3px #006622;
}

.section-divider h2 {
  text-align: center;
}

.page-subsection-title {
  margin-top: 0;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-align: center;
}

.page-label-heading {
  margin-top: 0;
  font-size: 1em;
  letter-spacing: 1px;
}

/* .............................INTERACTIVE ELEMENT STYLING...............*/

.hyperlink {
  text-decoration: none;
  color: #B30000;
}

.hyperlink:hover, .hyperlink:focus {
  color: #FF3333;
  text-decoration: underline;
}

.button {
  margin-top: 3em;
  /*padding-right: 5em;*/
  text-align: center;
}

.button a {
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  border-radius: 0.2em;
  color: #FFF;
  background-color: #006622;
  padding: 0.75em 2.5em;
  text-transform: uppercase;
  letter-spacing: 3px;
}


.button a:hover, .button a:focus {
  background-color: #00CC44;
}
/* .............................COMPONENT STYLING...............*/

/*#homepage {
  padding: 5em 0;
}*/

#landing-page-image {
  /*position: relative;*/
  /*background-image: url(../img/Baymax.jpg);*/
  /*background-size: contain;*/
  /*position: left;*/
  /*z-index: -1;*/
  position: relative;
  margin: 4.5em 0 2em 0;

}

#landing-page-image img {
  width: 100%;
}


.main-nav {
  background-color: #FFFFFF;
  /*padding: 1.5em 2em;*/
  width: 100%;
}

.header-nav {
  position: fixed;
  top: 0;
  z-index: 1;
}

.footer-nav {
  bottom: 0;
}

.main-nav-item {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #009933;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
  /*text-align: right;*/
  padding: 0;
}

.main-nav-item-home {
  /*text-align: left;*/
}

.main-nav-item:hover, .main-nav-item:focus {
  color: #00CC44;
}

.content-card {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1em;
  border-radius: 0.5em;
  margin: 2em 0;
}

.portfolio-piece {
  margin: 0 10em;
}

.feature-image {
  width: 100%;
  height: auto;
}

.project-image {
  width: 100%;
  height: auto;
  justify-content: center;
  }

/* .............................STYLE GUIDE COLOUR PALETTE STYLING...............*/

#red1 {
  background-color: #FF3333;
}

#red2 {
  background-color: #E60000;
}

#red3 {
  background-color: #B30000;
}

#yellow1 {
  background-color: #FFFFB3;
  color: #000;
}

#yellow2 {
  background-color: #FFFF80;
  color: #000;
}

#yellow3 {
  background-color: #FFFF4D;
  color: #000;
}

#green1 {
  background-color: #00CC44;
}

#green2 {
  background-color: #009933;
}

#green3 {
  background-color: #006622;
}

/* .............................STYLE GUIDE GRID STRUCTURE STYLING...............*/

.col1 {
  background-color: #000;
}

.col2 {
  background-color: #111;
}

.col3 {
  background-color: #222;
}

.col4 {
  background-color: #333;
}

.col5 {
  background-color: #444;
}
