/* ............................IMPORTED FONTS....................*/
@import url('https://fonts.googleapis.com/css?family=Lato');

@import url('https://fonts.googleapis.com/css?family=Muli');

/* .............................TYPOGRAPHY STYLING...............*/
body {
  background-color: rgba(220, 220, 220, 0.5);
  min-width: 320px;
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
}

p, a, li, figcaption {
  font-family: 'Muli', sans-serif;
  font-size: 0.8em;
}

p {
  line-height: 150%;
  text-align: justify;
}

ol, ul {
  text-align: left;
}

.project-list {
  padding-left: 1.2em;
}


li {
  line-height: 150%;
}

.main-body {
  padding: 3.5 0.5em;
}

.style-guide-content {
  text-align: center;
}

.column {
  padding: 3em;
  color: #FFF;
  text-align: center;
}

.page-title {
  margin-top: 0;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 7.5px;
  color: #FFFFFF;
}

.page-title-sg {
  color: #000000;
}


.header-title-sg {
  background-color: rgba(0,0,0, 0.8);

}

.header-title {
  color: #FFFFFF;
  background-color: rgba(0,0,0, 0.8);
  letter-spacing: 7.5px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 10%;
}

.subtitle {
  top: 50%;
}

.landing-page-title {
  padding: 0.5em;
}

.project-page-title {
  color: #FFFFFF;
  letter-spacing: 7.5px;
}

.page-section-title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.25em;
  letter-spacing: 5px;
  color: #172477;
}

.section-divider {
  border-bottom: solid 3px #006622;
}

.section-divider h2 {
  text-align: center;
}

.page-subsection-title {
  margin-top: 0;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-align: center;
}


/* .............................INTERACTIVE ELEMENT STYLING...............*/

.hyperlink {
  text-decoration: none;
  color: #663399;
}

.hyperlink:hover, .hyperlink:focus {
  color: #9966cc;
  text-decoration: underline;
}

.button {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
}

.button a {
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  border-radius: 0.2em;
  color: #FFF;
  background-color: #006622;
  padding: 0.75em 2.5em;
  text-transform: uppercase;
  letter-spacing: 3px;
}


.button a:hover, .button a:focus {
  background-color: #00CC44;
}
/* .............................COMPONENT STYLING...............*/


.landing-page-header {
  position: relative;
  margin: 4.5em 0 2em 0;

}

.landing-page-header img {
  width: 100%;
}

.project-page-header {
  position: relative;
  margin: 4.5em 0 2em 0;
}


.main-nav {
  background-color: #FFFFFF;
  width: 100%;
}

.header-nav {
  position: fixed;
  top: 0;
  z-index: 1;
}

.footer-nav {
  bottom: 0;
}

.main-nav-item {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #336699;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
  padding: 0;
}

.main-nav-item:hover, .main-nav-item:focus {
  color: #339999;
}

.content-card {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1em;
  border-radius: 0.5em;
  margin: 2em 0;
}

.content-card img {
  width: 100%;
}

.trello-image img {
  width: 49%;
}

.copy {
  margin-top: 0;
}

.portfolio-piece {
  margin: 0 10em;
}

.feature-image {
  width: 100%;
  height: auto;
}

.project-image {
  width: 100%;
  height: auto;
  justify-content: center;
  }

img.icon {
  width: 66px;
  height: 54px;
}

/* .............................STYLE GUIDE COLOUR PALETTE STYLING...............*/

#blue1 {
  background-color: #339999;
}

#blue2 {
  background-color: #337899;
}

#blue3 {
  background-color: #336699;
}

#purple1 {
  background-color: #CC99FF;
}

#purple2 {
  background-color: #9966CC;
}

#purple3 {
  background-color: #663399;
}

#green1 {
  background-color: #00CC44;
}

#green2 {
  background-color: #009933;
}

#green3 {
  background-color: #006622;
}

/* .............................STYLE GUIDE GRID STRUCTURE STYLING...............*/

.col1 {
  background-color: #000;
}

.col2 {
  background-color: #111;
}

.col3 {
  background-color: #222;
}

.col4 {
  background-color: #333;
}

.col5 {
  background-color: #444;
}

/* ...............................MEDIA QUERIES.................................. */

@media (min-width: 5em) {

  a.block.main-nav-item {
    flex-basis: 50%;
  }

  .header-title {
    color: #FFFFFF;
    background-color: rgba(0,0,0, 0.8);
    letter-spacing: 7.5px;
    position: relative;
  }

  .subtitle {
    top: 50%;
  }

}

@media (min-width: 18em) {
  .header-nav {
    position: relative;
  }

  .landing-page-header {
    position: relative;
    margin: 0;
  }

  .main-body {
    padding: 0.5em;
  }

  .project-page-header {
    margin: 2em 0;
  }

  .page-title {
    font-size: 1.5em;
  }
  .page-section-title {
    font-size: 1.25em;
  }

  .page-subsection-title {
    font-size: 1em;
  }
}


@media (min-width: 30em) {

  .landing-page-header {
    position: relative;
    margin: 0 0 2em 0;
  }

  .main-body {
    padding: 0 1rem;
  }

  .main-nav {
    padding: 1em 2em;
  }
}

@media (min-width: 48em) {

  p, a, li {
    font-size: 1em;
  }

  .page-section-title {
    font-size: 1.75em;
  }

  a.block.main-nav-item {
    flex-basis: 10em;
  }

  header {
    margin: 5em 0 2.5em 0;
  }

  .header-nav {
    position: fixed;
  }

  .landing-page-header img {
    width: 66%;
  }

  .landing-page-image {
    z-index: -1;
  }

  .page-title {
    font-size: 2em;
  }

  .header-title {
    background-color: #000;
    padding: 0;
    text-align: left;
    position: absolute;
    left: 40%;
    top: 50%;
    line-height: 100%;
  }

  .subtitle {
    top: 70%;
  }
}


@media (min-width: 55em) {

  .style-guide-content {
    text-align: center;
  }

  .main-body {
    padding: 0 7.5em;
  }

  header {
    margin: 7em 0 5em 0;
  }

  .header-nav {
    position: fixed;
  }


  .main-nav-item {
    text-align: right;

  }
  .main-nav-item-home {
    text-align: left;
  }

}

@media (min-width: 70em) {

  .main-body {
    padding: 0 15em;
  }
}

@media (min-width: 83em) {

  .style-guide-content {
    text-align: center;
  }

  p, li {
    font-size: 1.2em;
  }

  .hyperlink {
    font-size: 1em;
  }

  .main-body {
    padding: 0 20em;
  }

  .landing-page-header img {
    width: 66%;
  }

  .landing-page-image {
    z-index: -1;
  }

  .header-title {
    background-color: #000;
    padding: 0;
    text-align: left;
    left: 40%;
    top: 50%;
    line-height: 100%;
  }

  .subtitle {
    top: 70%;
  }

  .page-section-title {
    font-size: 2.5em;
  }

  .page-subsection-title {
    font-size: 2em;
  }

  .content-card {
    padding: 1em 3em;
  }

  a.block.main-nav-item {
    flex-basis: 25%;
  }
}

@media (min-width: 95em) {
  .page-title {
    font-size: 3em;
  }
}
